---
layout: page
title: Portfolio
stylesheet: portfolio.css
width: 600
latex: true
---



<p id = "portfolioDescription">
    a brief, non-comprehensive selection of my personal projects ranked by some combination of recency, sophistication, and fun-ness. 
i have yet to write in depth about most of these and will never about some.
</p>

<p id = "imageNote">note: you can click the preview images to view them in full size</p>

<div id="portfolioEntries" class ="latex-section" style = "padding: 0">
    <div id ="firstDivider" class = "verticalDivider">
        <div class = "dingbatLine">
            <hr>
            <hr>
        </div>
        <div class="dingbatWrapper">
            <img class = "dingbatImage" src = "/assets/portfolio/dingbats/generic-dingbat.svg">
        </div>
    </div> 

    <!-- Primary sort key is priority, then date -->
    {% assign portfolio = site.portfolio | sort: "date" | reverse %}
    {% assign portfolio = portfolio | sort_natural: "priority" %}
    
    {% for entry in portfolio %}

        <div class = "entry">
            <div class = "entryHeader">
                <h3 class = "titleHeader">{{entry.title}}</h3>
                <h4 class = "dateHeader">{{entry.date | date: "%B, %Y"}}</h4>
            </div>


            
            {% if entry.links %}
            <div class = "linkBar">
                <span class = "linksLabel">Links: </span>
                {% for link in entry.links %}
                    <a href = "{{link.url}}" class = "link">{{link.name}}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}  
            </div>
            {% endif %}

            <div class = "entryRow clearfix">
                {% if entry.videoName or entry.videoSource or entry.imgName or entry.imgSrc %}
                <div class = "media">
                    {% if entry.videoName or entry.videoSource %}
                        <video controls autoplay="{{ entry.autoplay }}" play-inline>
                            <source {% if entry.videoName %}src="/assets/portfolio/{{entry.videoName}}"{% else %}src = "{{ entry.videoSrc }}"{% endif %} type = "video/{{entry.videoType}}" ></source>
                        </video>
                    {% elsif entry.imgName or entry.imgSrc %}
                        <img src="{% if entry.imgName %}/assets/portfolio/{{entry.imgName}}{% else %}{{entry.imgSrc}}{% endif %}" class = "clickToModal">
                    {% endif %}
                </div>
                {% endif %}
                
                <div class = "entryContent">
                    {{entry.content}}
                </div>
            </div>

            
        </div>
        
        {% assign dingbatHeight = entry.dingbatHeight | default: "60px" %}
        
        <div class = "verticalDivider">
            <hr class = "dingbatLine">
            <div class="dingbatWrapper"><img   style = "height: {{dingbatHeight}}" class = "dingbatImage" src = "/assets/portfolio/dingbats/{{entry.dingbat}}" ></div>
        </div>  

    {% endfor %}

   <p id = "fin">fin.</p>
</div>

{% include modal.html %}

<script src = "/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/modals.js"></script>