<div class="gallery">
    {% if include.preserve_order %}
        {% assign sorted_photos = include.photos %}
    {% else %}
    {% assign dated_photos = include.photos | where_exp:"item", "item.date != nil" %}
    {% assign undated_photos = include.photos | where_exp:"item", "item.date == nil" %}
    {% assign sorted_dated = dated_photos | sort:"date" | reverse %}
    {% assign sorted_photos = sorted_dated | concat: undated_photos %}
    {% endif %}
    {% assign priority_count = include.priority_count | default: 30 %}
	{% for photo in sorted_photos %}
	<div
		class="photo loadingPreview ph-{{ photo.slug }}"
		style="--width: {{ photo.width }}; --height: {{ photo.height }};"
	>
		<img
			class="clickToModal photoImg"
			src="{{ photo.preview_src | default: photo.src }}"
			fullSrc="{{photo.src}}"
			alt="{{ photo.caption }}"
			width="{{ photo.width }}"
			height="{{ photo.height }}"
			decoding="async"
			{% if forloop.index <= priority_count %}fetchpriority="high"{% endif %}
		/>
	</div>
	{% endfor %}
</div>
