{% assign modal  = include.modal | default: true %}

<div class = "col-{{ include.colSize | times: 2 | at_most: 12}} col-md-{{ include.colSize }} mx-auto my-5 text-center"{% if include.colStyle %} style="{{include.colStyle}}"{% endif %}>
	<figure class="figure" style="max-width: 100%;">
		{% assign imageSrc = "/assets/images/" | append: include.fileName %}
		{% assign front = "" %}
		{% assign end = "" %}
		{% if include.divStyle %}
			{% assign front = '<div style="' | append: include.divStyle | append: '">' %}
			{% assign end = '</div>' %}
		{% endif %}
		{{ front }}
			<img src="{{ imageSrc }}" class="figure-img img-fluid rounded align-self-center{% if modal %} modalLink{% endif %}"{% if include.imgStyle %} style="{{include.imgStyle}}"{% endif %}>
		{{ end }}
		{% if include.caption %}
			<figcaption class="figure-caption text-center">{{ include.caption }}</figcaption>
		{% endif %}
	</figure>
</div>