<nav id = "navBar" class="navbar">
	<div class = "col-12 col-sm-6">
		<a class = "navbar-brand" href="{% if page.title == 'Home' %}#{% else %}/{% endif %}">
			<div id="logo" class = "p-3">
				<h3 id= "titleHead" class = "my-0">{{ site.title }}</h3>
				<p id = "tagline" class = "my-0">{{ site.description }}</p>
			</div>
		</a>
	</div>
	<div class = "col-12 col-sm-6 mx-auto mx-sm-0 text-center">
		<ul class = "float-none float-sm-right nav d-flex justify-content-center">
			{% for item in site.data.navbar %}
				{% if item.name != page.title %}
					<li>
						<a class = "nav-link" href = "{{ item.link }}">{{ item.name }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>