$breakpoint-xsmall: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;

$monospace-font: 'IBM Plex Mono', monospace;
$body-font: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;