@import "constants";


#logo{
    h1,p{
        padding:0;
        margin-bottom: 0;
        margin-top: 1px;
        font-size: 1em;
        text-align: left;
        line-height: normal;
    }

    h1{
        font-weight: 600;
        font-size: 1.5em;
    }
}

#logoLink{
    margin-left: 17px;
    color: black;
    text-decoration: none;
    flex-shrink: 0;
}


#navLinks{

    //global styles
    width: 100%;
    a{
        color:black;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }

        font-size:1em;
    }

    //mobile styles
    display: flex;  
    flex-shrink: 0;
    justify-content: space-evenly;
    
    padding-top:0.25rem;
    padding-bottom:0.35rem;
    margin-top: 1rem;

    $borderstyle: 1px solid rgb(0, 0, 0);
    border-top: $borderstyle;
    border-bottom: $borderstyle;
    border-bottom-style: dashed;
    
   


    //desktop styles
    @media only screen and (min-width: $breakpoint-xsmall){
        display: block;


        margin: 0 17px 0 auto;
        padding: 0;


        border: none;
        width: auto;
        background: none;

        a{
            margin-left:7px;
        }


       
    }


}


#navBar{

    font-family: $monospace-font;
    display:flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom:3rem;
  
    flex-wrap: wrap;
}