
.gallery {
    // margin-top: 4em;
    --min-height: 180px;
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 21px;
    // max-width: 1080px;
    margin: 0 auto;
    margin-top: 2em;
    // justify-content: ;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        // margin: 5px;
        // border-radius: 5px;
        // box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .photo{
        flex-grow: calc(var(--width) * (10000 / var(--height)));
  flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
//   max-width: calc(300px * (var(--width) / var(--height)));
  aspect-ratio: var(--width) / var(--height);
  position: relative;
  overflow: hidden;
  margin: 0 !important; /* We use !important to avoid gaps in some environments. */
  padding: 0 !important; 
    }

    &::after{
        content: " ";
        flex-grow: 999999;
    }
    // width: fit-content;
    // max-width: 1000px;
    // justify-content: space-between;
    // margin: 0 auto;
}
