@import url('//fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
	font-family: 'Merriweather', serif;
	color:#383838;
	background-color:#f7f7f2;
}

#logo {
	color: #ebebeb;
}

#navBar {
	background-color: #1a1a1a;
	color: #ebebeb;
}

#tagline {
	color:#ababab;
}

.nav-link{
	color: #ebebeb;
}

.nav-link:hover{
	color:#ebebeb;
}

a, .nav-link, #modalTabLink{
	&:hover{
		text-decoration: underline;
	}
}

.titleLink{
	&:hover{
		color:#383838;
	}
	color:#383838;
}

.modalLink, #closeModal{
	cursor: pointer;
}

#imageModal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	align-items: center;
	flex-direction: column;
  	justify-content: center;
}

#modalImage {
	max-height: 80%;
	max-width: 90%;
}

#modalTabLink{
	color:#9c9c9c;
}