---
---

@import "main";
@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
	font-family: 'Merriweather', serif;
	color:#383838;
	background-color:#f7f7f2;
}

#logo {
	color: #ebebeb;
}

#navBar {
	background-color: #1a1a1a;
	color: #ebebeb;
}

#tagline {
	color:#ababab;
}

.nav-link{
	color: #ebebeb;
}

.nav-link:hover{
	color:#ebebeb;
}

a, .nav-link{
	&:hover{
		text-decoration: underline;
	}
}

.titleLink{
	&:hover{
		color:#383838;
	}
	color:#383838;
}
