---
layout: page
width: 1920px;
photo_placeholders: true
---
{% include tagNav.html %}

{% assign tag_slug = page.slug | default: page.title %}
{% assign filtered_photos = site.photos | where_exp:"photo", "photo.tags contains page.title or photo.tags contains tag_slug or photo.trip == page.title or photo.trip == tag_slug" %}
<div class="tagPageGallery">
{% include gallery.html photos=filtered_photos %}
</div>

{% include modal.html %}

<script src = "/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/modals.js"></script>
